.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 16px;
}

.title {
  margin: 0 0 8px;
  font-size: 32px;
  font-weight: 700;
  color: #212529;
}

.description {
  margin: 0;
  font-size: 16px;
  color: #495057;
}
